body{
    background-color: #FFE8C5;
    font-family: Inter,Arial, Helvetica, sans-serif;
    /* color: white; */
}
.parent{
    padding: 0 2vw 0 2vw;
    width: auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 3vw;
    margin-right: 3vw; */
}
.centerNav{
    display: flex;
    justify-content: space-between;
    gap: 7vw;

}
.todayspecialText{
    margin-top: 20vh;
}
.addbutton{
    text-align: center;
    width: 15%;
}
.Whatsapp{
    width: 15vw;
    /* padding: 2rem; */
    
}
.red{
    width: 20vw;
    height: 43vh;
    border-radius: 1.5rem;
    background-color: #FE4D4C;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    /* padding-top: 0rem; */
    /* justify-content: space-around; */
    
}
.nameoftherandommeal{
    width: 20vw;
}

/* .des{
    position: relative;
} */
.red{
    /* border: 2px solid black; */
    position: relative;
}
.appendlist{
    display: none;
}
.des h1{
    margin: 0px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}
.price{
    margin: 0;
    position: absolute;
    bottom: 0vw;
    left: 0vw;
    background-color: #3D3D4E;
    padding: 0.7rem;
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    cursor: pointer;
}
.addbutton{
    margin: 0;
    position: absolute;
    bottom: 0vw;
    right: 0vw;
    background-color: #3D3D4E;
    padding: 0.7rem;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.blackline{
    height: 0.2vh;
    width: 96vw;
    background-color: black;
    border-radius: 20px;
    margin-bottom: 3vh;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
.blacklinee{
    height: 0.2vh;
    width: 96vw;
    background-color: black;
    border-radius: 20px;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.footer{
    background-color: #3D3D4E;
    height: 6rem;
    width: 94vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.naem{
    width: 18vw;
}
.gray{
    border-radius: 1.5rem;
    height: 32vh;
    width: 18vw;    
    background-color: #3D3D4E;
    display: flex;
    justify-content: space-around;
    box-shadow: 5px 5px 7px black;
    padding-top: 0.5rem;
}
.chickenimg{
    width: 16vw;
    height: 30vh;
    border-radius: 1.5rem;
}
.des{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* width: 30vh; */

}
.appendlist{
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        column-gap: 10vh;
        margin-left: 2vw;
        margin-right: 5vw;
}
.todayspecialText,.usersearchText{
    color: #FE4D4C;
}
.usersearchText{
    margin-top: 20vh;
}


.todayspecialflex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whatsappimg{
    padding: 0 1rem 0 1rem;
}
.navImg{
    cursor: pointer;
}
.rightNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
}

.plateimg{
    position: absolute;
    top: -11vh;
    left: 60vw;
    width: 36vw;
}
.maincontent{
    position: relative;

}
.quote{
    color: #FE4D4C;
    /* position: absolute; */
    margin-top: 15vh;
    top: 7vh;
    font-size: 9vh;
    left: 4vw;
    width: 55vw;
}
/* .restName{
    color: #FE4D4C;
    
} */
.describtionSentence{
    
    /* position: absolute; */
    top: 38vh;
    left:4vw ;
    letter-spacing: 1px;
    font-size: 1.2rem;
    line-height: 3rem;
    width: 55vw;
    margin-bottom: 10vh;
}
.buttonsofcontent{
    display: flex;
    /* position: absolute; */
    left:4vw ;
    top: 66vh;
    align-items: center;

}
.button{
    /* padding-left: 2rem; */
    padding:1rem 1rem 1rem 4rem;
    border: none;
    border-radius: 30px;
    /* margin-right: 20%; */
    width: 10vw;
    font-size: 1.2rem;
    color: white;
    
}


.searchbar{
    
    background-color:#FE4D4C ;
}
.searchbar::placeholder{
    color: white;
    font-size: 1.2rem;
}
.addbutton{
    box-shadow: -4px -4px 5px black;
    cursor: pointer;
}
.price{
    box-shadow: 4px -4px 5px black;


}
.Whatsapp{
    background-color: #3D3D4E;
    margin-left: 2vw;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    width: fit-content;
    display: flex;
    align-items: center;


}


.describtionformobile{
    display: none;
}


.searchText h2{
    color: #FE4D4C;
    font-size: 2.5rem;
}




footer{
    border: 1px solid black;
}
/* the below hover effect is referd from web page */
.ancer{
    position: relative;
    cursor: pointer;
}

.ancer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #FE4D4C;
    top: 1.5rem;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
    
}
.searchimg{
    position: relative;
    left: 3.5vw;
    top: 0.9vh;
}
.ancer:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}



@media only screen and (max-width:400px) {
    .price{
        margin: 0;
        width: 13vw;
        font-size: 0.8rem;
        position: absolute;
        bottom: 0vw;
        left: 0vw;
        background-color: #3D3D4E;
        padding: 0.7rem;
        border-bottom-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
    }
    .addbutton{
        font-size: 0.8rem;
        width: 13vw;
        margin: 0;
        position: absolute;
        bottom: 0vw;
        right: 0vw;
        background-color: #3D3D4E;
        padding: 0.7rem;
        border-top-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
    }
    .red {
        width: 75vw;
        height: 46vh;
    }
    .plateimg{
        top: 0vh;
        left: 42vw;
        width: 55vw;

    }
    .footer h1{
        font-size: 1rem;
    }
    .footer h2{
        font-size: 0.5rem;
    }
    .todayspecialText{
        margin: 5vh;
    }
    .footer{
        width: 88vw;
    }
    .usersearchText{
        margin-top: 5vh;
    }
    .gray {
        width: 68vw;
        height: 36vh;
    }
    .chickenimg {
        width: 60vw;
        height: 32vh;
    }
    .des h1, .price {

        margin: 0;
        margin-top: 1.3rem;
    }
    .des h1{
        margin-bottom: 0.6rem;
        
    }
    .centerNav {
        display: none;
    }
    .addbutton{
        text-align: center;
    }
    
    .rightNav {
        display: none;
    }
    .navbar {
        display: flex;
        place-content: center;
    }
    .quote {
        font-size: 2rem;
        margin-top: 3vh;
    }
    .describtionSentence {
        letter-spacing: 0.5px;
        font-size: 0.8rem;
        line-height: 1.5rem;
        width: 40vw;
        margin-bottom: 10vh;
    }
    .describtionSentencee {
        letter-spacing: 0.6px;
        font-size: 0.8rem;
        line-height: 1.7rem;
        width: 95vw;
        margin-bottom: 10vh;
        margin-top: -10vh;
    }
    .searchNarDiv {
        position: relative;
    }
    .searchbar {
        height: 1.3vh;
        width: 27vw;
        margin: 0;
        padding: 1rem 1rem 1rem 1.5rem;
        font-size: 1rem;
    }
    .Whatsapp {
        font-size: 0.8rem;
        text-align: center;
        width: 37vw;
        height: 5vh;
        margin: 0;
    }
    .whatsappimg {
        width: 5vw;
    }
    .buttonsofcontent {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .searchbar::placeholder {
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .searchimg {
        position: absolute;
        height: 1rem;
        margin-left: -0.4rem;
        margin-top: 0.3rem;
    }
    .searchbar::placeholder {
        font-size: 0.9rem;
        padding: 0;
    }
    .describtionformobile {
        display: inherit;
    }
    .describtion {
        display: none;
    }
    .Whatsapp {
        text-align: center;
    }
    .appendlist{
        
        column-gap: 2vh;
        margin-left: 2vw;
        margin-right: 2vw;
}
}